<article class='recipe-detail'>
  <img src='{{image}}' alt='{{title}}' />
  <h2>{{title}}</h2>
  <p>{{description}}</p>

  <h3>-----------------------------------------------------</h3>

  <h3>Ingredients:</h3>
  <p>{{ingredients}}</p>

  <h3>-----------------------------------------------------</h3>

  <h3>Instructions:</h3>
  <p>{{instructions}}</p>

  <h3>-----------------------------------------------------</h3>

  <h3>People Who Recommend: {{recCounter}}</h3>
</article>

<div class='command'>
  {{#if isAuthenticated}}
    {{#if isOwner}}
      <a href='/recipe/{{_id}}/edit'>Edit</a>
      <a href='/recipe/{{_id}}/delete'>Delete</a>
    {{else}}
      {{#if isRecommend}}
        <p>You've already recommended this recipe!</p>
      {{else}}
        <a href='/recipe/{{_id}}/recommend'>Recommend</a>
      {{/if}}
    {{/if}}
  {{/if}}
</div>