<section class='form-container'>
  <h2>Edit Recipe</h2>
  <form method='POST'>
    <label for='title'>Recipe Title:</label>
    <input type='text' id='title' name='title' value='{{title}}' />

    <label for='description'>Description:</label>
    <textarea id='description' name='description'>{{description}}</textarea>

    <label for='ingredients'>Ingredients:</label>
    <textarea id='ingredients' name='ingredients'>{{ingredients}}</textarea>

    <label for='instructions'>Instructions:</label>
    <textarea id='instructions' name='instructions'>{{instructions}}</textarea>

    <label for='image'>Image URL:</label>
    <input type='url' id='image' name='image' value='{{image}}' />

    <button type='submit'>Save Changes</button>
  </form>
</section>