<div class='main-cast-card'>
  {{#each movie.cast}}
    <div class='cast-card'>
      <div class='card-img'>
        <img src={{castImage}} alt={{name}} />
      </div>
      <div class='cast-info'>
        <h1>{{name}}</h1>
        <h3>Age: {{age}}</h3>
        <h3>Born: {{born}}</h3>
        <h3>Name in Movie: {{nameInMovie}}</h3>
      </div>
    </div>
  {{else}}
    <div class="no-cast">
      <p>There are no casts added yet...</p>
    </div>
  {{/each}}
</div>