<section id='viewCatalog' class='background-img'>
  <!--If there are one or more electronics-->
    <div class='added-electronics'>
  {{#each parts}}
      <a href='/parts/{{_id}}/details' class='added-electronics-in-market'>
        <img src='{{image}}' class='picture-added-electronics' />
        <h3>{{name}}</h3>
        <span>Price: ${{price}}</span>
      </a>
  {{else}}
    </div>
    <!--If there are no electronics in catalog yet-->
    <div class='guest'>
      There are no electronics found...
    </div>
  {{/each}}
</section>