<!-- In case of error, you should display div with class "error-container" -->
<!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
<!-- <div class="error-container">
            <p>Error</p>
        </div> -->
<section class='hero'>
  <h2>Welcome to Home Cooking Recipes</h2>
  <p>Your go-to place for delicious and easy-to-make recipes.</p>
  <a href='/recipe/catalog' class='btn'>Explore Recipes</a>
</section>
<section class='featured-recipes'>
  <h2>Featured Recipes</h2>
  <div class='recipes'>
    {{#each recipes}}
      <article class='recipe'>
        <img src='{{image}}' alt='{{title}}' />
        <h3>{{title}}</h3>
        <p>{{ingredients}}</p>
        <a href='/recipe/{{_id}}/details'>Read More</a>
      </article>
    {{else}}
      <p class='no-post'>There are no recipes found yet!</p>
    {{/each}}
  </div>
</section>